<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.boardMapper">
	<select id="selectAll" resultType="boardVO" parameterType="searchVO">
		select * from board b, user u where b.uno = u.uno
		<if test='searchType != null and searchType eq "title"'>
			and btitle like concat('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType eq "writer"'>
			and uid like concat('%',#{searchValue},'%')
		</if>
		<if test='searchKind != null'>
			and bkind = #{searchKind}
		</if>
	</select>
	
	<select id="selectByBno" resultType="boardVO" parameterType="int">
		select * from board where bno = #{bno}
	</select>
	
	<update id="update" parameterType="boardVO">
		UPDATE board SET btitle = #{btitle}, bkind = #{bkind}, bnote = #{bnote} where bno = #{bno}
	</update>
	
	<insert id="insert" parameterType="boardVO">
		<![CDATA[
		insert into board(uno,btitle,bkind,bnote) values(#{uno},#{btitle},#{bkind},#{bnote})
		]]>
		<selectKey resultType="int" order="AFTER" keyProperty="bno">
			select max(bno) from board
		</selectKey>
	</insert>
	
	<delete id="delete" parameterType="boardVO">
		delete from board where bno = #{bno}
	</delete>
	
	<delete id="deleteReply" parameterType="boardVO">
		delete from board where bno = #{bno}
	</delete>
</mapper>
